#ws-basketLeft {
  
  margin-left: 0;
  background-color: #d4d4d4;

  .header {
    font-weight: bold;
    margin: 1em 0;
  }

  .basketRow {
    display: flex;
    justify-content: space-between;

    i {
      cursor: pointer;
      padding-top: 0.15em;
      flex-basis: 1.5em;
    }

    label {
      flex-grow: 4;
    }

    .price {
      flex-grow: 1;
      flex-basis: 4em;
      text-align: right;
    }
  }

  .sum {
    margin-top: 1em;
  }

  button {
    width: 100%;
    margin: 1em 0;
  }
  
}
