#ws-header {

  padding: 0;
  
  .navbar {
    background-color: #1e1d1d;
    border: 0;
    border-radius: initial;
    padding: 1em;
    margin-bottom: 0;
    
    & > .container {
      padding: 0 50px;
    }
    
    a {
      color: #fffefe;
    }

  }
  
  button {
    margin-top: 6px;
  }
  
  .navbar-brand {
    text-transform: uppercase;
  }
}