#ws-mainpage {

  min-height: 1200px;
  width: 100%;
  background-color: #1E5773;
  padding-top: 3em;
  
  #form-food {
    background-color: #fff;
    padding: 1em;
  }
  
  #form-filter {
    margin-top: 1em;
    background-color: #fff;
    padding: 1em;
    
    button {
      margin-top: 1em;
    }
  }
  
  #dailybox {
    margin-top: 1em;
    background-color: #fff;
    padding: 1em;
    background-color: #fff;
    
    .ok {
      background-color: darkgreen;
      color: #fff;
    }
    
    .notok {
      background-color: red;
      color: #fff;
    }
  }
  
  table {
    width: 100%;
    background-color: #fff;
    margin-top: 1em;
    
    td {
      padding: 10px;
    }
    
    td.save {
      display: none;
    }
    
    td input {
      display: none;
    }
  }
  
}