#ws-mainpage {

  @lg: ~"only screen and (min-width: 1200px)";
  @md: ~"only screen and (min-width: 992px) and (max-width: 1199px)";
  @sm: ~"only screen and (min-width: 768px) and (max-width: 991px)";
  @xs: ~"only screen and (max-width: 767px)";
  
  .head {
    background-color: #2e5776;
    color: #fff;
    padding: 45px;
    
    h1 {
      font-size: 56px;
      text-align: center;
      margin: 0;
    }
    
    h2 {
      font-size: 28px;
      text-align: center;
      margin: 1em 0 0 0;
      letter-spacing: 2px;
    }
    
  }
  
  .middle {
    padding-top: 2em;
    font-size: 16px;
    
    .testimonial {
      .quot {
        font-style: italic;
        border-left: 5px solid #2e5776;
        padding-left: 1em;
        
        @media @sm, @xs {
          margin-bottom: 1.5em;
        }      
      }

      .img {
        text-align: center;
      }
    }    
    
    .action {
      
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      
      @media @sm, @xs {
        justify-content: center;
        align-items: center;
        font-size: 22px;
      }      
      
      p {
        margin-bottom: 30px;
        
        @media @sm, @xs {
          text-align: center;
        }      
        
        &.message {
          margin-bottom: 0;
          padding: 0.5em;
          width: 300px;
        }
      }

      .top {
        margin-bottom: 5px;
      }
      
      input {
        margin-bottom: 10px;
        width: 300px;
        padding: 5px;
      }
      
      button {
        display: block;
        width: 300px;
        margin-bottom: 5px;
      }
      
    }
  }
  

  
  
}