#ws-filterbox {
  
  @lg: ~"only screen and (min-width: 1200px)";
  @md: ~"only screen and (min-width: 992px) and (max-width: 1199px)";
  @sm: ~"only screen and (min-width: 768px) and (max-width: 991px)";
  @xs: ~"only screen and (max-width: 767px)";
  
  margin-top: 0.8em;
  
  .hszog {
    width: 0;
    height: 0;
    margin-left: 66%;
    border-style: solid;
    border-width: 0 20px 34.6px 20px;
    border-color: transparent transparent #2585C2 transparent;
  }
  
  .leftPadding {
    padding-left: 60px;
  }
  
  .rightPadding {
    padding-right: 60px;
  }  
  
  .bg-blue1 {
    
    background-color: #2585C2;
    padding-bottom: 1em;
    
    h1 {
      .leftPadding;
      text-transform: uppercase;
      font-size: 27px;
      font-weight: bold;
    }
    
    .searchtext {
      .leftPadding;
      
      display: flex;
      
      @media @sm, @xs {
        .rightPadding;
      }      
      
      input {    
        height: 39px;
        flex: 8;
        font-size: 21px;
        margin-right: 0.5em;
        font-weight: 300;
        padding-left: 1em;
      }
      
      button {
        display: none;
        height: 39px;
        flex: 2;
        background-color: #EB8488;
        color: #fff;      
        
        i {
          font-size: 28px;
        }
      }      
    }

    .recently {
      display: none !important;

      margin-bottom: 1em;
      font-size: 19px;

      @media @sm, @xs {
        .leftPadding;
        .rightPadding;
        margin-top: 1em;
      }
      
      .fa-heart {
        color: #E98585;
        background-color: #542255;
        padding: 4px;
        font-size: 28px;
      }

      .title {
        text-transform: uppercase;
        background-color: #F0C2C2;
        color: #2585C2;
        padding: 6px 10px;
        flex: 8;

        span {
          color: #EE3B36;
        }
      }

      button {
        background-color: #F0C2C2;
        height: 39px;
        
        @media @sm, @xs {
          flex: 2;
          height: 40px;
        }
        
        i {
          font-size: 28px;
        }

      }
    }
  }

  .bg-blue2 {
    
    background-color: #7CA5D3;
    padding-bottom: 20px;
    
    h1 {
      .leftPadding;
      text-transform: uppercase;
    }
    
    .float {
      float: left;
    }
    
    .col1 {
      
      .leftPadding;
      padding-bottom: 1em;
      
      ul {
        list-style: none;
        padding: 0;

        li {
          text-transform: uppercase;
          font-size: 17px;
          color: #fff;
          border-bottom: 1px solid red;
          padding: 0.3em;
          display: flex;
          justify-content: space-between;
          cursor: pointer;
          
          i {
            color: #4E2255;
            font-size: 22px;
          }
        }
      }
      
      button {
        background-color: #F0C2C2;
      }    
      
      #clear {
        float: left;
        clear: both;
        background-color: #55225B;
        color: #fff;
        margin: 0;
        font-weight: 300;
        font-size: 15px;
      }
      
      #go {
        float: left;
        clear: both;
        margin: 44px 10px 0 0;
        width: 240px;
        
        .text i {
          float: none;
        }
        
        i {
          font-size: 28px;
        }
      }
      
    } 
    
    .col2 {
      
      margin-top: 10px;
      
      .row {
        margin-top: -10px;
      }
      
      .filtertab {
        display: none;
        
        >div:first-child label {
          padding: 0 0 0 12px;
        }
        
        .checkbox { 
          margin-top: 0px;
        }
        
        .checkbox label {
          color: #fff;
          
        }
        
      }
      
      .filtertab:nth-child(1) {
        display: block;
      }
    }
    
  }
  
  
  
}
